17. 22.03.18 es6/Class/src/index.pug
html(lang="en")
  include templates/head
  body
    .calculator
      span.field 0
      table
        tbody
          tr
            td
              button#cancel C
            td
            td
            td
          tr
            td
              button.number 7
            td
              button.number 8
            td
              button.number 9
            td
              button.symbol +
          tr
            td
              button.number 4
            td
              button.number 5
            td
              button.number 6
            td
              button.symbol -
          tr
            td
              button.number 1
            td
              button.number 2
            td
              button.number 3
            td
              button.symbol *
          tr
            td(colspan="2")
              button.number 0
            td
              button#res =
            td
              button.symbol /

    

17. 22.03.18 es6/Class/dist/index.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link href="css/main.css" rel="stylesheet"></head>
  <body>
    <div class="calculator"><span class="field">0</span>
      <table>
        <tbody>
          <tr>
            <td>
              <button id="cancel">C</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <button class="number">7</button>
            </td>
            <td>
              <button class="number">8</button>
            </td>
            <td>
              <button class="number">9</button>
            </td>
            <td>
              <button class="symbol">+</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="number">4</button>
            </td>
            <td>
              <button class="number">5</button>
            </td>
            <td>
              <button class="number">6</button>
            </td>
            <td>
              <button class="symbol">-</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="number">1</button>
            </td>
            <td>
              <button class="number">2</button>
            </td>
            <td>
              <button class="number">3</button>
            </td>
            <td>
              <button class="symbol">*</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="number">0</button>
            </td>
            <td>
              <button id="res">=</button>
            </td>
            <td>
              <button class="symbol">/</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <script type="text/javascript" src="js/bundle.js"></script></body>
</html>
