20. 03.04.18 es6/home/dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <link href="css/main.css" rel="stylesheet"></head>
  <body>
    <div>0. Hello hello</div>
    <div>1. Hello hello</div>
    <div>2. Hello hello</div>
    <div>3. Hello hello</div>
    <div>4. Hello hello</div>
    <ul>
      <li>porche</li>
      <li>zyguly</li>
      <li>BMW</li>
    </ul>
    <ul>
      <li>0porche</li>
      <li>1zyguly</li>
      <li>2BMW</li>
    </ul>
    <div>
      <p>porche,zyguly,BMW</p>
    </div>
    <div class="class"></div>
    <div id="id"></div>
        <div class="thumbnail"><img src="img/#{imageName}.jpg" alt="">
          <h4 class="image-caption">h4 hello #</h4>
        </div>
  <script type="text/javascript" src="js/bundle.js"></script></body>
</html>

22. 17.04.18 es6/class/src/index.pug
<!DOCTYPE html>
html(lang="en")
  include templates/head.pug
  body
  - let hello = 'hello';
    - for (let i = 0; i < 5; i++) {
      div= i + `. Hello ${hello}`
    - }
    - let cars = ['porche', 'zyguly', 'BMW'];
    ul
      for name in cars
        li= name
    ul
      each val, index in cars
        li= index + val
    div
      p #{cars}
    div.class
    div#id
    mixin thumbnail(imageName, caption)
      div.thumbnail
        img(src="img/#{imageName}.jpg", alt="")
        h4.image-caption #{caption}
    +thumbnail('sadfkfkl', 'h4 hello #')
